# Using sat_calc to determine logical validity

This notebook is a short demonstration of how a satisfiability calculator can determine logical validity. 

I use my own calculator, called ```sat_calc```, which can be found on [GitHub](https://github.com/dan-willia/SatisfiabilityCalculator).

## The argument

There is a well-known argument in a [logic textbook](https://archive.org/details/logictechniqueof0000unse/mode/2up) that goes like this:

> "If Superman were able and willing to prevent evil, he would do so. If Superman were unable to prevent evil, he would be impotent; if he were unwilling to prevent evil, he would be malevolent. Superman does not prevent evil. If Superman exists, he is neither impotent nor malevolent. Therefore, Superman does not exist."

Is this argument valid? Hard to say. Traditionally we would represent this in the propositional calculus and then use rules of inference to try to derive the conclusion. We will still do the first part, but instead of using rules of inference, we will use ```sat_calc``` to determine if the argument is valid.

## Why does this work?

We can use a satisfiability calculator to determine if an argument is valid. Why? An argument is valid iff it is impossible for all the premises to be true and the conclusion to be false. It follows from this that the implication of the conjunction of the premises and the conclusion must be a tautology.

Consider a simple argument:

P1. *p* <br/>
P2. *p* -> *q* <br/>
C. *q*

We conjoin the premises and imply the conclusion:
*p* ^ (*p* -> *q*) -> *q*

An implication is false in only one case: when the antecedent is true but the conclusion false. So if the premises are all true, yet *q* is false, then the implication comes out false, and we don't get a tautology.

This makes sense since if your premises are true but your conclusion is false, we wouldn't say your argument is valid!

A satisfiability calculator determines under what truth assignments a proposition is true. If every possible truth assignment makes the proposition true, then the proposition is a tautology.

## Logical form

First, let's write the logical form of the argument. 

We define the following variables.

Let *a* be the statement 'Superman is able to prevent evil'. <br/>
Let *w* be the statement 'Superman is willing to prevent evil'. <br/>
Let *i* be the statement 'Superman is impotent'. <br/>
Let *m* be the statement 'Superman is malevolent'. <br/>
Let *p* be the statement 'Superman prevents evil'. <br/>
Let *e* be the statement 'Superman exists'. <br/>

The conclusion to the Superman argument, then, is ~*e*. 

Let's write the premises.

P1. *a* ^ *w* -> *p* <br/>
P2. ~*a* -> *i* <br/>
P3. ~*w* -> *m* <br/>
P4. ~*p* <br/>
P5. *e* -> ~(*i* v *m*) <br/>

Convince yourself that these represent the premises in the argument.

Now traditionally we would apply rules of inference to the premises and try to derive the conclusion. But then we wouldn't be able to show off ```sat_calc```, so we're not going to do that. 

Instead, we construct the whole argument as a conjunction of the premises implying the conclusion, like so:

(*a* ^ *w* -> *p*) ^ (*~a* -> *i*) ^ (~*w* -> *m*) ^ ~*p* ^ (*e* -> ~(*i* v *m*)) -> ~*e*

## Using sat_calc

We can give this expression to ```sat_calc``` to determine if it is a tautology, and thus a valid argument.

In [1]:
from sat_calc import *

Let's also import the pandas library to display the truth table in a format that is easier to read.

In [2]:
import pandas as pd

```sat_calc``` requires the proposition as well as a list of the variables in the proposition.

In [7]:
input_str = "(a ^ w -> p) ^ (~a -> i) ^ (~w -> m) ^ ~p ^ (e -> ~(i v m)) -> ~e"
vars = ['a', 'w', 'i', 'm', 'p', 'e']

We create a truth table from the variables and the proposition and display it as a DataFrame.

In [6]:
tt = create_tt(vars)
tt_df = pd.DataFrame(tt)
tt_df[input_str] = ''
tt_df.head()

,a,w,i,m,p,e,(a ^ w -> p) ^ (~a -> i) ^ (~w -> m) ^ ~p ^ (e -> ~(i v m)) -> ~e
0,True,True,True,True,True,True,
1,True,True,True,True,True,False,
2,True,True,True,True,False,True,
3,True,True,True,True,False,False,
4,True,True,True,False,True,True,

Next we evaluate the proposition for each row of the truth table.

In [8]:
for i in range(len(tt)):
    eval = evaluate(input_str, tt[i])
    tt_df.loc[i,input_str]= eval
tt_df.head()

,a,w,i,m,p,e,(a ^ w -> p) ^ (~a -> i) ^ (~w -> m) ^ ~p ^ (e -> ~(i v m)) -> ~e
0,True,True,True,True,True,True,True
1,True,True,True,True,True,False,True
2,True,True,True,True,False,True,True
3,True,True,True,True,False,False,True
4,True,True,True,False,True,True,True

Let's examine the truth table.

In [5]:
print(f"truth table has {len(tt_df)} rows")
print(f"{len(tt_df[tt_df[input_str] == True])} rows of input_str are true")
print(f"{len(tt_df[tt_df[input_str] == False])} rows of input_str are false")

truth table has 64 rows
64 rows of input_str are true
0 rows of input_str are false

## Conclusion

So there we are. Every truth assignment for the expression is true, thus the statement is a tautology, and therefore the Superman argument is valid.

Besides practicing our formal reasoning and showing off ```sat_calc```, what is the significance of the argument? I invite the reader to explore [The Problem of Evil](https://plato.stanford.edu/entries/evil/).